<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="apple-touch-icon" th:href="@{images/apple-touch-icon.png}">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/responsive.css}">
    <link rel="stylesheet" th:href="@{css/custom.css}">

    <link rel="stylesheet" href="https://bootadmin.net/css/datatables.min.css">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <title>FreshShop</title>
</head>

<body>

<div th:fragment="top" class="main-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="custom-select-box">
                    <select id="currency" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                        <option>₽ RUB</option>
                        <option>$ USD</option>
                        <option>€ EUR</option>
                    </select>
                </div>
                <div class="our-link">
                    <ul>
                        <li><a th:href="@{'/account'}"><i class="fa fa-user s_color"></i> My Account</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="login-box">
                    <select id="basic" class="selectpicker show-tick form-control" data-placeholder="Sign In">
                        <option>Register Here</option> <!--Сделать ссылками-->
                        <option>Sign In</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<header th:fragment="main-header" class="main-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" th:href="@{'/'}"><img th:src="@{images/logo.png}" class="logo" alt=""></a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item active"><a class="nav-link" th:href="@{'/'}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{'/about'}">About Shop</a></li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">SHOP ⇓</a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/categories}"> Category</a></li>
                            <li><a th:href="@{/products}"> Products</a></li>
                            <li><a th:href="@{/blogs}"> Blogs</a> </li>
                            <li><a th:href="@{/cart}"> Cart</a></li>
                            <li><a th:href="@{/account}"> My Account</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
                </ul>
            </div>

            <div class="attr-nav">
                <ul>
                    <li class="side-menu">
                        <a th:href="@{/cart}">
                            <i class="fa fa-shopping-bag"></i>
                            <span class="badge">test</span>
                            <p>My Cart</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

</body>
</html>